<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
  </head>
  <body style="margin: 20px;">
    <h1>Dashboard</h1>

    <a href="/users/logout">Logout</a>

    <h1>Hello <%= user %></h4> <br>
    <h2>Add Employee</h2>
    <!--Add-->
    <div style="width: 35%; margin: 30px;">
      <form action="/users/emp/add" method="POST">
        <div class="mb-3">
          <label for="exampleInputName" class="form-label">Name</label>
          <input type="text" name="name" class="form-control" id="exampleInputName" aria-describedby="nameHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail" class="form-label">Email address</label>
          <input type="email" name="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputAge" class="form-label">Age</label>
          <input type="text" name="age" class="form-control" id="exampleInputAge" aria-describedby="ageHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputSalary" class="form-label">Salary</label>
          <input type="text" name="salary" class="form-control" id="exampleInputSalary" aria-describedby="salaryHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputExperience" class="form-label">Experience</label>
          <input type="text" name="experience" class="form-control" id="exampleInputExperience" aria-describedby="experienceHelp">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck">
          <label class="form-check-label" for="exampleCheck">Accept Terms and Conditions</label>
        </div>
        <button class="btn btn-primary">Add</button>
        
      </form>
    </div>
  
    <h2>Employee List</h2>
    <!--List-->
    <table class="table table-striped" style="margin: 30px; width: 80%;">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Age</th>
          <th scope="col">Salary</th>
          <th scope="col">Experience</th>
          <th scope="col">Options</th>
        </tr>
      </thead>
      <tbody>
        <% for (let i = 0; i < list.length; i++) { %>
          <tr>
            <td><%= list[i].id %></td>
            <td><%= list[i].name %></td>
            <td><%= list[i].email %></td>
            <td><%= list[i].age %></td>
            <td><%= list[i].salary %></td>
            <td><%= list[i].experience %></td>
            <td>
              <a href="/users/emp/edit/<%= list[i].id %>">Update</a>
              <a href="/users/emp/delete/<%= list[i].id %>">Delete</a>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>


    <!-- <div style="margin: 30px;">
      <% for (let i = 0; i < list.length; i++) { %>
        <h4>ID : <%= list[i].id %></h4>
        <h4>Name : <%= list[i].name %></h4>
        <h4>Email : <%= list[i].email %></h4>
        <h4>Age : <%= list[i].age %></h4>
        <h4>Salary : <%= list[i].salary %></h4>
        <h4>Experience : <%= list[i].experience %></h4>
        <a href="/users/emp/edit/<%= list[i].id %>">Update</a>

        <a href="/users/emp/delete/<%= list[i].id %>">Delete</a>
        <div style="margin: 20px;"></div>
      <% } %>
    </div> -->
    

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>

  </body>
</html>
